<div class="quantityAdded">
    <h1>Produkt {{name}} został dodany do oferty w ilości {{quantity}} g.</h1>
    <a href="/interface">Powrót do interfejsu pracownika</a>
    <a href="/products">Powrót do produktów</a>
</div>