
<form action="/interface/{{name}}" method="post" class="interface__singleProduct--form">
    <img src="{{img}}" alt="" width="350px" height="auto">
    <p>{{name}}</p>
    <label for="quantity">Wprowadź ilość w gramach : </label>
    <input type="number" name="quantity">
    <button type="submit">Dodaj ilość do magazynu</button>
</form>