<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ziołowe marzenia</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <form class="adminLogIcon" action="/adminLog" method="get">
        <button type="submit">
            <img src="/images/login.png" alt="">
        </button>
    </form>
    <header class="pageHeader">
        <img src="/images/logo.jpg" alt="">
    </header>
    <nav>
        <ul class="menu">
            <li><a href="/home">Strona główna</a></li>
            <li><a href="/products">Produkty</a></li>
            <li><a href="/aboutUs">O nas</a></li>
                <li>
                    <a href="/basket">
                    Koszyk
                    </a>
                    <img src="/images/busket-icon.png" alt="">
                </li>
        </ul>
    </nav>
    {{{body}}}

    <script src="/js/front.js"></script>
</body>
</html>

<!--<a href='https://www.freepik.com/photos/table'>Table photo created by 8photo - www.freepik.com</a>
<div>Icons made by <a href="https://www.flaticon.com/authors/dmitri13" title="dmitri13">dmitri13</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
https://www.manutea.pl/dziurawiec-liscie-ziolo-x1704
-->