<main class="mainPage__main">
    <h1> Drogi użytkowniku, witaj w naszej zielarni. </h1>

    <p>Gwarantujemy najwyższą jakość naszych produktów.</p>
    <p>Doceniło nas już ponad 10000 klientów.</p>
    <p>Zapraszamy do przeglądu naszych produktów oraz do składania zamówień</p>
</main>

